@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark-blue: hsl(233, 47%, 7%);
$desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 61%, 46%);
$white: hsl(0, 0%, 100%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
$font-main: Inter, sans-serif;
$font-secondary: Lexend Deca, sans-serif;

html {
  font-size: 15px;
}
.main-background {
  background: $dark-blue;
  padding: 80px 20px 60px;
}

.image-header {
  background: $soft-violet;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  color: $soft-violet;
  opacity: 0.5;
  object-fit: cover;
}

.card {
  background-color: $desaturated-blue;
  border-radius: 10px;
  text-align: center;
}

.main-heading,
.stats {
  color: $white;
  font-family: $font-main;
}

.main-heading {
  margin: 40px 20px 0;
}

.accent {
  color: $soft-violet;
}

.main-paragraph {
  color: $transparent-white;
  font-family: $font-secondary;
  line-height: 1.7;
  margin: 20px 30px 40px;
}

.stat {
  padding: 0 0 40px;
}

.stat .stat_last {
  padding-bottom: 55px;
}

.stat-headings {
  color: $slightly-transparent-white;
  text-transform: uppercase;
  font-family: $font-secondary;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .main-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px 60px;
  }
  .card {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    max-width: 1200px;
    max-height: 500px;
  }

  .flex-container {
    display: flex;
    margin: 30px 80px 30px;
  }

  .flex-container div {
    margin: 0 60px 0 0;
  }

  .text-header {
    max-width: 600px;
  }

  .image-header {
    border-radius: 0 10px 10px 0;
    max-width: 600px;
  }

  img {
    height: 100%;
  }

  .main-heading {
    margin: 80px 80px 0;
    font-size: 40px;
  }

  .main-paragraph {
    margin: 30px 80px 0;
    width: 44ch;
  }
}
